# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.kvs

App/SphericalMapViewer/SphericalMapViewer

App/SphericalMapImageViewer/SphericalMapImageViewer

App/SphericalMapMovieViewer/SphericalMapMovieViewer

App/4DStreetViewer/4DStreetViewer

App/CubicImages/CubicImages
